In [1]:
#importing nescessary libraries
import pandas as pd
import numpy as np

In [2]:
#Loading the data
df=pd.read_excel(r'SBTI_data.xlsx')
df.head()

,Company name,ISIN,LEI,Location,Region,Sector,Organization type,Full target language,Target,Target wording,...,Target elapsed timeframe [%],"Comments on target coverage, exclusion and updates",Reasons for progress and/or contributing measures,Plans in place for achieving target,For net-zero targets Plans for neutralization,Publication year of the progress data,Progress source,For desk research: Page(s) consulted,For desk research: Website link,Source access date
0,(ACIP) Alexandria Company for Industrial Packages,NaN,NaN,Egypt,Africa,Containers and Packaging,Small or Medium Enterprise,This target was approved using a streamlined t...,Near-term,(ACIP) Alexandria Company for Industrial Pack...,...,0.1,We have set ourselves targets to reduce scope ...,NaN,To achieve the target we have developed a thre...,NaN,2022.0,CDP,NaN,NaN,2023-06-01
1,4most,NaN,NaN,United Kingdom,Europe,Professional Services,Small or Medium Enterprise,This target was approved using a streamlined t...,Near-term,4most commits to reduce scope 1 and scope 2 GH...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,A.G. Barr plc,GB00B6XZKY75,213800QWTXXXF8BNEC87,United Kingdom,Europe,Food and Beverage Processing,Company,Overall Net-Zero Target A. G. Barr plc commits...,Near-term,A. G. Barr commits to reduce absolute scope 1 ...,...,0.2,100% coverage for scope 1&2 emissions. Scope 2...,NaN,"In 2021, we sourced 100% of the electricity fo...",NaN,2022.0,CDP,NaN,NaN,2023-06-01
3,A.G. Barr plc,GB00B6XZKY75,213800QWTXXXF8BNEC87,United Kingdom,Europe,Food and Beverage Processing,Company,Overall Net-Zero Target A. G. Barr plc commits...,Near-term,A. G. Barr also commits to reduce absolute sco...,...,0.2,The target covers 96% of our scope 3 emissions...,NaN,Our scope 3 reduction target is focused on the...,NaN,2022.0,CDP,NaN,NaN,2023-06-01
4,A.G. Barr plc,GB00B6XZKY75,213800QWTXXXF8BNEC87,United Kingdom,Europe,Food and Beverage Processing,Company,Overall Net-Zero Target A. G. Barr plc commits...,Long-term,A. G. Barr plc commits to reduce absolute scop...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4441 entries, 0 to 4440
Data columns (total 39 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Company name                                        4441 non-null   object
 1   ISIN                                                2559 non-null   object
 2   LEI                                                 2928 non-null   object
 3   Location                                            4441 non-null   object
 4   Region                                              4441 non-null   object
 5   Sector                                              4441 non-null   object
 6   Organization type                                   4441 non-null   object
 7   Full target language                                4441 non-null   object
 8   Target                                              4441 non-null   object
 9   Target wording                                      4407 non-null   object
 10  Company reporting progress status                   4441 non-null   object
 11  Target reporting review                             4439 non-null   object
 12  Agg/Disagg                                          227 non-null    object
 13  IsParent row                                        273 non-null    float64
 14  IsChild row                                         222 non-null    float64
 15  Scope (SBTi)                                        4441 non-null   object
 16  Scope 3 category                                    1058 non-null   object
 17  Target value                                        4297 non-null   object
 18  Type                                                4441 non-null   object
 19  Sub-type                                            4305 non-null   object
 20  Activity unit                                       750 non-null    object
 21  Base year                                           4441 non-null   object
 22  Target year                                         4440 non-null   float64
 23  Year type                                           4441 non-null   object
 24  Date published                                      4441 non-null   object
 25  SBTi progress report year                           4441 non-null   int64
 26  Year of the reported progress data                  2179 non-null   float64
 27  Target progress [%]                                 2000 non-null   float64
 28  Target completion [%]                               1999 non-null   float64
 29  Target elapsed timeframe [%]                        2053 non-null   float64
 30  Comments on target coverage, exclusion and updates  1592 non-null   object
 31  Reasons for progress and/or contributing measures   394 non-null    object
 32  Plans in place for achieving target                 1469 non-null   object
 33  For net-zero targets Plans for neutralization       45 non-null     object
 34  Publication year of the progress data               2053 non-null   float64
 35  Progress source                                     2053 non-null   object
 36  For desk research: Page(s) consulted                419 non-null    object
 37  For desk research: Website link                     450 non-null    object
 38  Source access date                                  2048 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(1), object(29)
memory usage: 1.3+ MB

In [4]:
#importing modulues for random forest classifier from Sklearn
#Using Random forest as a classifier here as it has been proven to work with a robust nature on large dataset and provide results with better accuracy compared to others.
#Random forest works by clubbing multiple decision tree classicifers to build one better model. By averaging the results of many trees, it reduces overfitting and improves generalization to unseen data.
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [5]:
df.isna().sum()

Company name                                             0
ISIN                                                  1882
LEI                                                   1513
Location                                                 0
Region                                                   0
Sector                                                   0
Organization type                                        0
Full target language                                     0
Target                                                   0
Target wording                                          34
Company reporting progress status                        0
Target reporting review                                  2
Agg/Disagg                                            4214
IsParent row                                          4168
IsChild row                                           4219
Scope (SBTi)                                             0
Scope 3 category                                      3383
Target value                                           144
Type                                                     0
Sub-type                                               136
Activity unit                                         3691
Base year                                                0
Target year                                              1
Year type                                                0
Date published                                           0
SBTi progress report year                                0
Year of the reported progress data                    2262
Target progress [%]                                   2441
Target completion [%]                                 2442
Target elapsed timeframe [%]                          2388
Comments on target coverage, exclusion and updates    2849
Reasons for progress and/or contributing measures     4047
Plans in place for achieving target                   2972
For net-zero targets Plans for neutralization         4396
Publication year of the progress data                 2388
Progress source                                       2388
For desk research: Page(s) consulted                  4022
For desk research: Website link                       3991
Source access date                                    2393
dtype: int64

In [6]:
#dropping columns which wouldn't effect much and the columns that have almost all null values
df1=df.drop(columns=['ISIN','LEI','Agg/Disagg','Target wording','IsParent row','Date published','IsChild row','Comments on target coverage, exclusion and updates','Reasons for progress and/or contributing measures','Plans in place for achieving target','For desk research: Website link','Source access date','For desk research: Page(s) consulted','Activity unit','For net-zero targets Plans for neutralization','Scope 3 category'])

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4441 entries, 0 to 4440
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Company name                           4441 non-null   object
 1   Location                               4441 non-null   object
 2   Region                                 4441 non-null   object
 3   Sector                                 4441 non-null   object
 4   Organization type                      4441 non-null   object
 5   Full target language                   4441 non-null   object
 6   Target                                 4441 non-null   object
 7   Company reporting progress status      4441 non-null   object
 8   Target reporting review                4439 non-null   object
 9   Scope (SBTi)                           4441 non-null   object
 10  Target value                           4297 non-null   object
 11  Type                                   4441 non-null   object
 12  Sub-type                               4305 non-null   object
 13  Base year                              4441 non-null   object
 14  Target year                            4440 non-null   float64
 15  Year type                              4441 non-null   object
 16  SBTi progress report year              4441 non-null   int64
 17  Year of the reported progress data     2179 non-null   float64
 18  Target progress [%]                    2000 non-null   float64
 19  Target completion [%]                  1999 non-null   float64
 20  Target elapsed timeframe [%]           2053 non-null   float64
 21  Publication year of the progress data  2053 non-null   float64
 22  Progress source                        2053 non-null   object
dtypes: float64(6), int64(1), object(16)
memory usage: 798.1+ KB

In [8]:
#A dataframe to include all the categorical data
data = df1[['Company name', 'Location', 'Region ', 'Sector', 'Organization type', 'Full target language', 'Target', 'Target reporting review', 'Type', 'Sub-type', 'Year type', 'Progress source','Scope (SBTi)']]

In [9]:
# Encoding categorical variables
label_encode = LabelEncoder()
encoded = data.apply(label_encode.fit_transform)

In [62]:
print(encoded.head(50))

    Company name  Location  Region   Sector  Organization type  \
0              0        13        0      11                  2
1              1        60        2      32                  2
2              2        60        2      17                  0
3              2        60        2      17                  0
4              2        60        2      17                  0
5              2        60        2      17                  0
6              2        60        2      17                  0
7              3        19        1      34                  0
8              3        19        1      34                  0
9              3        19        1      34                  0
10             4        12        2      10                  2
11             4        12        2      10                  2
12             4        12        2      10                  2
13             5         2        2      41                  0
14             5         2        2      41                  0
15             6        26        2      13                  0
16             6        26        2      13                  0
17             6        26        2      13                  0
18             7        44        3      32                  2
19            50        27        1      36                  2
20            51        60        2      32                  2
21            52        12        2      14                  2
22             8         3        2      17                  0
23             8         3        2      17                  0
24             8         3        2      17                  0
25             9        53        2      14                  0
26             9        53        2      14                  0
27             9        53        2      14                  0
28             9        53        2      14                  0
29             9        53        2      14                  0
30            10        54        2      14                  0
31            10        54        2      14                  0
32            53        61        5      23                  0
33            53        61        5      23                  0
34            54        58        2      31                  0
35            54        58        2      31                  0
36            55        60        2      34                  0
37            55        60        2      34                  0
38            11        16        2      34                  0
39            11        16        2      34                  0
40            11        16        2      34                  0
41            11        16        2      34                  0
42            12        24        2      17                  0
43            12        24        2      17                  0
44            56        61        5      32                  0
45            56        61        5      32                  0
46            56        61        5      32                  0
47            13        22        1       8                  0
48            13        22        1       8                  0
49            57        24        2      32                  0

    Full target language  Target  Target reporting review  Type  Sub-type  \
0                   1184       2                        0     0         2
1                   1930       2                        2     0         2
2                    822       2                        0     0         2
3                    822       2                        0     0         2
4                    822       0                        1     0         2
5                    822       0                        0     0         2
6                    822       3                        0     3         3
7                      5       2                        1     0         2
8                      5       2                        1     2         2
9                      5       2                        1     1         1
10                  1185       2                        2     0         2
11                  1185       0                        2     0         2
12                  1185       3                        2     3         3
13                     6       2                        0     0         2
14                     6       2                        0     0         2
15                   574       2                        0     2         2
16                   574       2                        1     0         2
17                   574       2                        1     0         2
18                  1186       2                        2     0         2
19                  1200       2                        2     0         2
20                    26       2                        2     0         2
21                  1201       2                        2     0         2
22                   437       2                        0     0         2
23                   437       2                        0     7         1
24                   437       2                        0     2         2
25                  2027       2                        0     0         2
26                  2027       2                        0     0         2
27                  2027       2                        0     0         2
28                  2027       2                        0     2         2
29                  2027       2                        0     2         2
30                     7       2                        0     0         2
31                     7       2                        0     0         2
32                    27       2                        0     0         2
33                    27       2                        1     1         1
34                    28       2                        1     0         2
35                    28       2                        1     0         2
36                    29       2                        1     0         2
37                    29       2                        1     2         2
38                     8       2                        0     0         2
39                     8       2                        0     7         1
40                     8       2                        0     2         2
41                     8       2                        0     1         1
42                   921       2                        0     0         2
43                   921       2                        0     0         2
44                    30       2                        0     0         2
45                    30       2                        0     0         2
46                    30       2                        0     0         2
47                     9       2                        0     2         2
48                     9       2                        0     2         2
49                   448       2                        0     0         2

    Year type  Progress source  Scope (SBTi)
0           0                0             1
1           0                2             1
2           1                0             1
3           1                0             5
4           1                2             1
5           1                0             5
6           1                0             2
7           0                2             1
8           0                2             5
9           0                2             5
10          0                2             1
11          0                2             2
12          0                2             2
13          0                0             1
14          0                0             5
15          0                1             0
16          0                2             4
17          0                2             5
18          0                2             1
19          0                2             1
20          0                2             1
21          0                2             1
22          0                0             1
23          0                0             4
24          0                0             2
25          0                1             1
26          0                1             5
27          0                1             5
28          0                1             5
29          0                1             5
30          0                0             1
31          0                0             5
32          0                0             1
33          0                2             5
34          0                2             1
35          0                2             5
36          0                2             1
37          0                2             5
38          0                0             1
39          0                0             4
40          0                0             5
41          0                0             5
42          0                1             1
43          0                1             5
44          0                2             1
45          0                2             5
46          0                0             2
47          0                0             0
48          0                0             4
49          0                0             2

In [11]:
new_data=df1.drop(columns=['Company name', 'Location', 'Region ', 'Sector', 'Organization type', 'Full target language', 'Target', 'Target reporting review', 'Type', 'Sub-type', 'Year type', 'Progress source','Scope (SBTi)'])

In [12]:
#Replacing the nan values in the numberic columns with 0
new_data = new_data.replace('Not reviewed', 0)
new_data= new_data.replace('NA',0)

In [13]:
#Trying to clean the data that has strings
new_df = new_data.apply(pd.to_numeric, errors='coerce')  # Convert all columns to numeric, set errors to NaN
new_df = new_data.dropna()  # Drop rows with any NaN values

In [14]:
concatenate_data1 = pd.concat([new_df, encoded], axis=1)

print(concatenate_data1)

      Company reporting progress status Target value Base year  Target year  \
0                                   2.0         0.25      2020       2030.0
2                                   2.0          0.6      2020       2030.0
3                                   2.0         0.25      2020       2030.0
5                                   2.0          0.9      2020       2050.0
13                                  1.0          0.5      2019       2030.0
...                                 ...          ...       ...          ...
4429                                NaN          NaN       NaN          NaN
4430                                NaN          NaN       NaN          NaN
4436                                NaN          NaN       NaN          NaN
4437                                NaN          NaN       NaN          NaN
4438                                NaN          NaN       NaN          NaN

      SBTi progress report year  Year of the reported progress data  \
0                        2022.0                              2021.0
2                        2022.0                              2022.0
3                        2022.0                              2022.0
5                        2022.0                              2022.0
13                       2022.0                              2021.0
...                         ...                                 ...
4429                        NaN                                 NaN
4430                        NaN                                 NaN
4436                        NaN                                 NaN
4437                        NaN                                 NaN
4438                        NaN                                 NaN

      Target progress [%]  Target completion [%]  \
0                  -0.130                 -0.520
2                   0.333                  0.555
3                  -0.070                 -0.280
5                  -0.070                 -0.078
13                  0.180                  0.359
...                   ...                    ...
4429                  NaN                    NaN
4430                  NaN                    NaN
4436                  NaN                    NaN
4437                  NaN                    NaN
4438                  NaN                    NaN

      Target elapsed timeframe [%]  Publication year of the progress data  \
0                            0.100                                 2022.0
2                            0.200                                 2022.0
3                            0.200                                 2022.0
5                            0.067                                 2022.0
13                           0.182                                 2022.0
...                            ...                                    ...
4429                           NaN                                    NaN
4430                           NaN                                    NaN
4436                           NaN                                    NaN
4437                           NaN                                    NaN
4438                           NaN                                    NaN

      ...  Sector  Organization type  Full target language  Target  \
0     ...      11                  2                  1184       2
2     ...      17                  0                   822       2
3     ...      17                  0                   822       2
5     ...      17                  0                   822       0
13    ...      41                  0                     6       2
...   ...     ...                ...                   ...     ...
4429  ...      40                  2                  1861       0
4430  ...      40                  2                  1861       3
4436  ...      42                  0                  2065       2
4437  ...       8                  2                  1856       2
4438  ...       8                  2                  1856       3

      Target reporting review  Type  Sub-type  Year type  Progress source  \
0                           0     0         2          0                0
2                           0     0         2          1                0
3                           0     0         2          1                0
5                           0     0         2          1                0
13                          0     0         2          0                0
...                       ...   ...       ...        ...              ...
4429                        2     0         2          0                2
4430                        2     3         3          0                2
4436                        0     0         2          1                2
4437                        2     0         2          0                2
4438                        2     3         3          0                2

      Scope (SBTi)
0                1
2                1
3                5
5                5
13               1
...            ...
4429             2
4430             2
4436             1
4437             1
4438             2

[4441 rows x 23 columns]

In [15]:
concatenate_data1 = concatenate_data1.fillna(0)

In [16]:
#For the purpose of classification I will use the the target progress as the target variable such that if greater than 50% will be classified as a category else the other.
#With the help of random forest classifier for this binary classification
concatenate_data1['Target_progress'] = (concatenate_data1['Target progress [%]'] >= 0.5).astype(float)  # 1 if progress >= 50%, else 0

In [17]:
print(concatenate_data1['Target_progress'].value_counts())
#Random forest is said to be the best to handle imbalance dataset

Target_progress
0.0    4089
1.0     352
Name: count, dtype: int64

In [18]:
final_data=concatenate_data1.drop(columns=['Target progress [%]'])

In [19]:
#Setting the target variable
X = final_data.drop(columns=['Target_progress'])
y = final_data['Target_progress']

In [24]:
#Spliting data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [25]:
# Initializing and training the RandomForestClassifier
classifier = RandomForestClassifier(random_state=42)
classifier.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [26]:
y_pred = classifier.predict(X_test)

In [27]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

cm = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(cm)
cr = classification_report(y_test, y_pred)
print("\nClassification Report:",)
print (cr)
acc = accuracy_score(y_test,y_pred)
print("\nAccuracy:",acc)

Confusion Matrix:
[[818   0]
 [  0  71]]

Classification Report:
              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00       818
         1.0       1.00      1.00      1.00        71

    accuracy                           1.00       889
   macro avg       1.00      1.00      1.00       889
weighted avg       1.00      1.00      1.00       889


Accuracy: 1.0

In [28]:
#getting accuracy 1 maybe due to overfitting of the training dataset

In [29]:
#for the task of clustering the companies based on their industries--> using K Means algorithm, which is a unsuperivised algorithm, which works well for creating clusters of large number.
# Import necessary libraries for clustering
from sklearn.cluster import KMeans

In [59]:
# Clustering function
def cluster_companies(industry,final_data):
    industry_data = final_data[final_data['Sector'] == industry]

    kmeans = KMeans(n_clusters=3, n_init=10)
    clusters = kmeans.fit_predict(industry_data)

    for cluster_label in range(3):
        cluster_companies = industry_data[clusters == cluster_label]['Company name'].tolist()
        print(f"Cluster {cluster_label + 1}: {cluster_companies}")
    # Return clustered companies
    return clusters

# Cluster companies in a particular industry
cluster_companies(17, final_data)  #17 is the encoded version of Food and beverages sector
#The output are the companies that are in the food and beverages sector again in encoded (label encoding)

Cluster 1: [2, 2, 2, 8, 8, 8, 12, 12, 81, 81, 129, 129, 136, 165, 165, 197, 207, 207, 208, 242, 242, 194, 194, 322, 322, 339, 339, 341, 341, 368, 368, 379, 379, 381, 385, 386, 386, 386, 387, 387, 404, 404, 424, 424, 464, 466, 466, 501, 501, 556, 556, 582, 632, 632, 635, 635, 635, 637, 637, 656, 657, 657, 657, 657, 657, 621, 621, 695, 695, 706, 706, 724, 724, 739, 739, 739, 786, 760, 760, 812, 812, 818, 2063, 2063, 904, 904, 954, 954, 969, 973, 973, 976, 976, 976, 983, 983, 1020, 1138, 1138, 1140, 1140, 1140, 1142, 1142, 1142, 1142, 1153, 1154, 1154, 1157, 1157, 1159, 1174, 1174, 1191, 1191, 1193, 1211, 1260, 1285, 1285, 1285, 1285, 1285, 1285, 1285, 1291, 1291, 1382, 1382, 1388, 1388, 1389, 1389, 1389, 1402, 1518, 1518, 1518, 1518, 1511, 1511, 1608, 1608, 1696, 1712, 1712, 1713, 1713, 1721, 1721, 1729, 1729, 1729, 1783, 1783, 1814, 1821, 1821, 1823, 1823, 1873, 1873, 1918, 1918, 1918, 1912]
Cluster 2: [501]
Cluster 3: [2, 2, 102, 2045, 2045, 33, 136, 197, 204, 222, 236, 239, 279, 320, 321, 341, 341, 341, 385, 385, 420, 420, 451, 464, 466, 466, 466, 466, 469, 469, 470, 470, 499, 514, 582, 640, 648, 652, 656, 2058, 695, 697, 727, 727, 739, 752, 818, 818, 817, 926, 957, 969, 983, 983, 994, 1012, 1028, 1028, 1028, 1028, 1029, 1020, 1020, 1153, 1153, 1159, 1159, 1184, 1184, 1184, 1184, 1184, 1205, 1205, 1205, 1243, 1260, 1260, 1263, 1274, 1285, 1291, 2073, 1340, 1347, 1347, 1347, 1347, 1347, 1347, 1347, 1316, 1378, 1360, 1360, 1360, 1402, 1405, 1405, 1405, 1428, 1518, 1518, 1518, 1518, 1518, 1518, 1502, 1656, 1661, 1661, 1570, 1570, 1570, 1702, 1702, 1705, 1705, 1705, 1705, 1705, 1785, 1856, 1856, 1895, 1928, 1934, 1947, 1948, 1949]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], dtype=int32)

In [64]:
import unittest
# Unit testing
class TestModel(unittest.TestCase):
    def test_cluster_companies(self):
        # Test the clustering function with an example industry input
        industry = 34
        clusters = cluster_companies(industry,final_data)
        self.assertIsInstance(clusters, np.ndarray)  # Check if output is a numpy array

if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

.
----------------------------------------------------------------------
Ran 1 test in 0.212s

OK

Cluster 1: [11, 11, 11, 11, 22, 22, 23, 23, 87, 42, 42, 42, 172, 226, 226, 262, 262, 277, 277, 346, 432, 432, 432, 475, 475, 502, 502, 599, 599, 608, 609, 609, 609, 654, 690, 690, 690, 774, 774, 822, 848, 848, 848, 848, 867, 867, 874, 874, 874, 897, 897, 981, 981, 1129, 1129, 1133, 1133, 1141, 1075, 1075, 1445]
Cluster 2: [3, 3, 3, 55, 55, 87, 90, 112, 42, 45, 45, 45, 45, 172, 219, 219, 218, 220, 244, 244, 244, 262, 346, 432, 475, 487, 487, 487, 553, 534, 534, 534, 534, 573, 599, 599, 599, 599, 599, 608, 642, 644, 654, 654, 667, 708, 708, 708, 774, 775, 775, 775, 757, 790, 822, 822, 848, 886, 1048, 1048, 1048, 1111, 1111, 1111, 1141, 1141, 1075, 1177, 1177, 1177, 1199, 1258, 1272, 1272, 1310, 1339, 1320, 1320, 1435, 1445, 1482, 1486, 1486, 1455, 1455, 1455, 1516, 1610, 1624, 1624, 1558, 1565, 1695, 1695, 1576, 1716, 1719, 1780, 1782, 1791, 1798, 1960, 1984, 1984, 1984, 1999, 2032]
Cluster 3: [2054, 2054, 1272, 1272, 1320, 1320, 1320, 1393, 1393, 1455, 1455, 1610, 1610, 1624, 1645, 1645, 1565, 1565, 1576, 1576, 1719, 1782, 1782, 1782, 1787, 1787, 1798, 1798, 1847, 1847, 1960, 1989, 1989, 1999, 2031, 2031, 2031, 2031]